In [1]:
import pandas as pd

In [3]:
evo_lines = pd.read_csv('unique_evolution_lines.csv')

In [4]:
evo_lines[evo_lines['stage2_name'] == 'garchomp']

     Unnamed: 0  basic stage1 stage2 basic_name stage1_name stage2_name
304         304  ss121  ss122  ss123      gible      gabite    garchomp

In [2]:
df = pd.read_csv('pokemon-tcg-with-fossils.csv')
df.head(5)

,id,stage,name,from,hp,type,ability,a1cost,a1name,a1damage,a1bonus,a1bonusDmg,a2cost,a2name,a2damage,a2bonus,a2bonusDmg,weakness,retreat,rarity
0,ga1,0,bulbasaur,NaN,70,grass,NaN,gx,vine whip,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fire,1,1d
1,ga2,1,ivysaur,bulbasaur,90,grass,NaN,gxx,razor leaf,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fire,2,2d
2,ga3,2,venusaur,ivysaur,160,grass,NaN,ggxx,mega drain,80.0,heal,30.0,NaN,NaN,NaN,NaN,NaN,fire,3,3d
3,ga4,2,venusaur EX,ivysaur,190,grass,NaN,gxx,razor leaf,60.0,NaN,NaN,ggxx,giant bloom,100.0,heal,30.0,fire,3,4d
4,ga5,0,caterpie,NaN,50,grass,NaN,x,find a friend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fire,1,1d

In [3]:
df[df['name'] == 'magikarp']

,id,stage,name,from,hp,type,ability,a1cost,a1name,a1damage,a1bonus,a1bonusDmg,a2cost,a2name,a2damage,a2bonus,a2bonusDmg,weakness,retreat,rarity
76,ga77,0,magikarp,NaN,30,water,NaN,x,splash,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,electric,1,1d
283,mi17,0,magikarp,NaN,30,water,NaN,w,leap out,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,electric,1,1d

In [ ]:
df[df['name'] == 'old amber']

,id,stage,name,from,hp,type,ability,a1cost,a1name,a1damage,a1bonus,a1bonusDmg,a2cost,a2name,a2damage,a2bonus,a2bonusDmg,weakness,retreat,rarity
567,ga218,0,old amber,NaN,40,fossil,fossil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1d
568,mi63,0,old amber,NaN,40,fossil,fossil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1d

In [ ]:
mechanic_unique = df.groupby('name')['a1name'].value_counts().reset_index().drop(columns=['count'])
mechanic_unique['id'] = mechanic_unique.apply(lambda row: df.loc[df[(df['name'] == row['name']) & (df['a1name'] == row['a1name'])].first_valid_index(), 'id'], axis=1)

mechanic_unique_ids = mechanic_unique['id'].unique()

# add fossils
unique_fossil_ids = df[df['type'] == 'fossil'].groupby('name').first()['id'].unique()

unique_pkmn = df[(df['id'].isin(mechanic_unique_ids)) | (df['id'].isin(unique_fossil_ids))]
unique_pkmn

,id,stage,name,from,hp,type,ability,a1cost,a1name,a1damage,a1bonus,a1bonusDmg,a2cost,a2name,a2damage,a2bonus,a2bonusDmg,weakness,retreat,rarity
0,ga1,0,bulbasaur,NaN,70,grass,NaN,gx,vine whip,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fire,1,1d
1,ga2,1,ivysaur,bulbasaur,90,grass,NaN,gxx,razor leaf,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fire,2,2d
2,ga3,2,venusaur,ivysaur,160,grass,NaN,ggxx,mega drain,80.0,heal,30.0,NaN,NaN,NaN,NaN,NaN,fire,3,3d
3,ga4,2,venusaur EX,ivysaur,190,grass,NaN,gxx,razor leaf,60.0,NaN,NaN,ggxx,giant bloom,100.0,heal,30.0,fire,3,4d
4,ga5,0,caterpie,NaN,50,grass,NaN,x,find a friend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fire,1,1d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,ga216,0,helix fossil,NaN,40,fossil,fossil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1d
566,ga217,0,dome fossil,NaN,40,fossil,fossil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1d
567,ga218,0,old amber,NaN,40,fossil,fossil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1d
569,ss144,0,skull fossil,NaN,40,fossil,fossil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1d
570,ss145,0,armor fossil,NaN,40,fossil,fossil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1d

In [ ]:
stage2_final = unique_pkmn[unique_pkmn['stage'] == 2]
stage2_evolutions = stage2_final['from'].unique()

stage1_final = unique_pkmn[(unique_pkmn['stage'] == 1) & (~unique_pkmn['name'].isin(stage2_evolutions))]
stage1_evolutions = unique_pkmn[unique_pkmn['stage'] == 1]['from'].unique()

basic_final = unique_pkmn[(unique_pkmn['stage'] == 0) & (~unique_pkmn['name'].isin(stage1_evolutions))]

evolution_lines = {
    'basic'     : [],
    'stage1'    : [],
    'stage2'    : []
}

for id in basic_final['id']:
    evolution_lines['basic'] += [id]
    evolution_lines['stage1'] += [None]
    evolution_lines['stage2'] += [None]

for id in stage1_final['id']:
    from_name = unique_pkmn.loc[unique_pkmn[unique_pkmn['id'] == id].first_valid_index(), 'from']
    for basic_id in unique_pkmn[unique_pkmn['name'] == from_name]['id']:
        evolution_lines['basic'] += [basic_id]
        evolution_lines['stage1'] += [id]
        evolution_lines['stage2'] += [None]

for id in stage2_final['id']:
    stage1_name = unique_pkmn.loc[unique_pkmn[unique_pkmn['id'] == id].first_valid_index(), 'from']
    for stage1_id in unique_pkmn[unique_pkmn['name'] == stage1_name]['id']:
        basic_name = unique_pkmn.loc[unique_pkmn[unique_pkmn['id'] == stage1_id].first_valid_index(), 'from']
        for basic_id in unique_pkmn[unique_pkmn['name'] == basic_name]['id']:
            evolution_lines['basic'] += [basic_id]
            evolution_lines['stage1'] += [stage1_id]
            evolution_lines['stage2'] += [id]

evolution_lines = pd.DataFrame(evolution_lines)

evolution_lines['basic_name'] = evolution_lines['basic'].apply(lambda id: unique_pkmn.loc[unique_pkmn[unique_pkmn['id'] == id].first_valid_index(), 'name'])
evolution_lines['stage1_name'] = evolution_lines['stage1'].apply(lambda id: None if id is None else unique_pkmn.loc[unique_pkmn[unique_pkmn['id'] == id].first_valid_index(), 'name'])
evolution_lines['stage2_name'] = evolution_lines['stage2'].apply(lambda id: None if id is None else unique_pkmn.loc[unique_pkmn[unique_pkmn['id'] == id].first_valid_index(), 'name'])

evolution_lines

     basic stage1 stage2    basic_name stage1_name stage2_name
0     ga25   None   None       scyther        None        None
1     ga26   None   None        pinsir        None        None
2     ga46   None   None       moltres        None        None
3     ga47   None   None    moltres EX        None        None
4     ga48   None   None       heatmor        None        None
..     ...    ...    ...           ...         ...         ...
303  ss145  ss113  ss114  armor fossil    shieldon    bastidon
304  ss121  ss122  ss123         gible      gabite    garchomp
305  ga209  ss128  ss129       porygon   porygon-2   porygon-Z
306  ss127  ss128  ss129       porygon   porygon-2   porygon-Z
307  ss132  ss133  ss134        starly    staravia   staraptor

[308 rows x 6 columns]

In [ ]:
evolution_lines.to_csv("unique_evolution_lines.csv")

In [ ]:
evolution_lines['basic_name'].value_counts().reset_index().head(20)

    basic_name  count
0        eevee     24
1      geodude      8
2       oddish      8
3       pidgey      8
4     exeggute      6
5       mankey      6
6     magikarp      4
7        ralts      4
8      pikachu      4
9      finneon      4
10     voltorb      4
11  jigglypuff      4
12   magnemite      4
13     koffing      4
14    salandit      4
15     rhyhorn      4
16      gastly      4
17       burmy      3
18      magmar      3
19  electabuzz      3

In [61]:
evolution_lines[evolution_lines['basic_name'].isin(['old amber', 'helix fossil', 'dome fossil', 'skull fossil', 'armor fossil'])]

     basic stage1 stage2    basic_name    stage1_name stage2_name
147  ga218  ga210   None     old amber     aerodactyl        None
176  ga218   mi46   None     old amber  aerodactyl EX        None
245  ga216   ga81   ga82  helix fossil        omanyte     omastar
261  ga217  ga158  ga159   dome fossil         kabuto    kabutops
300  ss144   ss88   ss89  skull fossil       cranidos   rampardos
303  ss145  ss113  ss114  armor fossil       shieldon    bastidon

In [ ]:
unique_pkmn[(~unique_pkmn['from'].isin(unique_pkmn['name'].unique())) & (~unique_pkmn['from'].isna())]

Empty DataFrame
Columns: [id, stage, name, from, hp, type, ability, a1cost, a1name, a1damage, a1bonus, a1bonusDmg, a2cost, a2name, a2damage, a2bonus, a2bonusDmg, weakness, retreat, rarity]
Index: []

In [ ]:
set(unique_pkmn['a1bonus'].unique()) | set(unique_pkmn['a2bonus'].unique())

{'\\discard',
 '\\energy discard',
 '\\invulnerable',
 '\\no attack',
 '\\paralysis',
 '\\shuffle',
 'active-f',
 'allCoins',
 'attackLock',
 'bTarget',
 'bTarget-1',
 'bTarget-all',
 'bTarget-self',
 'bench-all',
 'bench-e',
 'bench-nidoking',
 'bench-opp',
 'burn',
 'coin-1',
 'coin-2',
 'coin-3',
 'coin-4',
 'coin-g',
 'confused',
 'damaged',
 'defend',
 'discard-self',
 'draw',
 'electric-2',
 'energy',
 'energy discard',
 'ex',
 'free',
 'grass-3',
 'hasTool',
 'heal',
 'healAll',
 'hurt',
 'invulnerable',
 'ko',
 nan,
 'no attack',
 'no retreat',
 'no support',
 'ownDamage',
 'poison',
 'poisoned',
 'random energy',
 'random-4',
 'recoil',
 'recoil-ko',
 'sleep',
 'smokescreen',
 'usedLast',
 'water-2',
 'water-3'}